.email-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    &__item {
        background: var(--white-color);
        color: var(--blue-color);
        cursor: pointer;
        transition: all 0.5s;
        padding: 20px;
        border-bottom: 1px solid #e2e7f1;
        &--active {
            background: var(--second-color);
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                width: 3px;
                top: 0;
                height: 100%;
                background: var(--blue-color);
            }
        }
    }
}
